.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.2);
  transition: var(--ifm-transition-fast);
  margin-bottom: 1rem;
}

.profileImage:hover {
  transform: scale(1.05);
}
